<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex.lg="0 1 calc(60% - 16px)" fxFlex.lt-lg="0 1 calc(50% - 16px)"
       style="margin-right: 40px; margin-left: 20px">
    <div fxLayout="column">
      <div>
        <mat-card>
          <mat-card-header>Shipping Information</mat-card-header>
          <mat-card-content>1 address line 1</mat-card-content>
          <mat-card-content>1 address line 2</mat-card-content>
          <mat-card-content>1 address line 3</mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="column">
      <div>
        <mat-card>
          <mat-card-header>Shipping Information</mat-card-header>
          <mat-card-content>1 address line 1</mat-card-content>
          <mat-card-content>1 address line 2</mat-card-content>
          <mat-card-content>1 address line 3</mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="column">
      <div>
        <mat-card>
          <mat-card-header>Shipping Information</mat-card-header>
          <mat-card-content>1 address line 1</mat-card-content>
          <mat-card-content>1 address line 2</mat-card-content>
          <mat-card-content>1 address line 3</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div fxLayout="column" style="margin-top: 10px">
    <mat-card>
      <mat-card-header>Order Summary</mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Subtotal</mat-list-item>
          <mat-list-item>Shipping</mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-card-header>Total</mat-card-header>
        <mat-card-actions>
          <button mat-icon-button class="mat-accent">
            <mat-icon>done_all</mat-icon>
            Submit
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
