/*
.sticky {
  padding: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
}

.logo {
  padding: 0px 5px;
  font-size: 20px;
}
*/

/*
ul li {
    list-style: none;
}
*/

/*

.mat-icon {
    vertical-align: middle;
 }
*/

.mat-toolbar {
  background-color: #E9ECEF;
  padding: 0px 0px 0px 10px;
}
