<div fxLayout="column">
  <div fxLayout="column">
    <form class="example-form">
<!--      <mat-form-field class="example-full-width">
        <mat-label>username</mat-label>
        <input matInput disabled value="username">
      </mat-form-field>-->
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>first name</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>last name</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>phone</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>email</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <p>
        <mat-form-field class="example-full-width">
          <mat-label>address</mat-label>
          <textarea matInput placeholder="1 Market Street San Ramon, CA">1 Market Street, San Ramon, CA</textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>address line 2</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>city</mat-label>
              <input matInput placeholder="Ex. San Francisco">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>state</mat-label>
              <input matInput placeholder="Ex. California">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>postal code</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
