
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,1),
  0 1px 1px 0 rgba(0,0,0,1),
  0 1px 3px 0 rgba(0,0,0,1);
}

.mat-divider {
  border-top-color: darkgray;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  position: fixed;
  background-color: #1A2226;
  width: 230px;
}
/*

mat-drawer-content {
  padding: 20px;
}
*/

::ng-deep.mat-pseudo-checkbox{
  display: none !important;
}

.list-card{
  max-width: 260px;
  margin: 10px;
}

.example-card {
  max-width: 300px;
  max-height: 365px;
  padding: 20px 20px 20px 20px;
  margin: 5px;
}

mat-list-option[aria-selected="true"] {
  background: #457b9d;
}

.card-image {
  width: 300px;
  height: 200px;
}

.example-container {
  min-height:4000px;
}

.fabposition{
  position: fixed;
  bottom: 50%;
  right: 20px;
}
